@model List<DigitalPortalAcademy.Models.Announcement>
@{
	Layout = "~/Views/Shared/_LayoutDepartment.cshtml";
}
<div class="container">

	@if (TempData["Success"] != null)
	{
		<div class="alert alert-success">@TempData["Success"]</div>
	}
	@if (TempData["Error"] != null)
	{
		<div class="alert alert-danger">@TempData["Error"]</div>
	}
	<div class="organization-info">
		<h2>О нашей организации</h2>
		<p>Мы — Академия Транспортных Технологий, лидирующее учебное заведение, специализирующееся на подготовке кадров для транспортной отрасли. Наша цель — предоставление качественного образования и развитие профессиональных навыков у студентов, с учетом современных требований рынка труда.</p>
	</div>

	<div class="add-post-form">
		<h3>Добавить новость или объявление</h3>
		<form asp-action="Annoucements" asp-controller="Department" method="post">
			<div class="mb-3">
				<label for="Title" class="form-label">Заголовок</label>
				<input name="Title" class="form-control" required placeholder="Введите заголовок" />
			</div>
			<div class="mb-3">
				<label for="Description" class="form-label">Содержание</label>
				<textarea name="Description" class="form-control" rows="5" required placeholder="Введите содержание записи"></textarea>
			</div>
			<div class="mb-3">
				<label for="ExpirationDate" class="form-label">Срок действия</label>
				<input name="ExpirationDate" type="datetime-local" class="form-control" required />
			</div>
			<button type="submit" class="btn btn-primary">Добавить запись</button>
		</form>
	</div>

	<!-- Список записей -->
	<div class="posts-list">
		@if (!Model.Any())
		{
			<div class="post-item">
				<div class="alert alert-info">Нет активных объявлений.</div>
			</div>
		}
		else
		{
			foreach (var announcement in Model)
			{
				<div class="card mb-3">
					<div class="card-body">
						<h5 class="card-title">@announcement.Title</h5>
						<p class="card-text">@announcement.Description</p>

						<div class="d-flex justify-content-between">
							@{
								var employee = announcement.Author.Employees?.FirstOrDefault();
							}
							<small class="text-muted">
								Автор: @($"{employee?.LastName} {employee?.FirstName} {employee?.MiddleName ?? ""}")
							</small>
							<small class="text-muted">
								Добавлено: @announcement.CreatedAt?.ToString("dd.MM.yyyy HH:mm")
							</small>
						</div>
					</div>
				</div>
			}
		}
	</div>
</div>