@model DigitalPortalAcademy.Models.MarksReport

@{
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}

<div class="container mt-5">
    <h3 class="mb-4">
        Отчет: @Model.Pair.TeacherSubject.Subject.SubjectName — @Model.Pair.Group.GroupName
    </h3>
    <p><strong>Дата создания:</strong> @Model.CreatedAt.ToString()</p>
    <p><strong>Месяц отчета:</strong> @Model.ReportMonth.ToString("MM.yyyy")</p>

    <table class="table table-bordered mt-4 text-center align-middle" style="background-color: white;">
        <thead class="table-light">
            <tr>
                <th>№</th>
                <th>ФИО Студента</th>
                <th>Оценка</th>
                <th>Пропущено часов</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.MarksReportDetails != null && Model.MarksReportDetails.Any())
            {
                var i = 1;
                var sortedDetails = Model.MarksReportDetails
                .OrderBy(d => d.Student.LastName)
                .ThenBy(d => d.Student.FirstName)
                .ThenBy(d => d.Student.MiddleName)
                .ToList();

                foreach (var detail in sortedDetails)
                {
                    <tr>
                        <td>@i</td>
                        <td>@($"{detail.Student.LastName} {detail.Student.FirstName} {detail.Student.MiddleName}")</td>
                        <td>@(detail.Mark.HasValue ? detail.Mark.Value.ToString() : "-")</td>
                        <td>@detail.Absences</td>
                    </tr>
                    i++;
                }
            }
            else
            {
                <tr>
                    <td colspan="4" class="text-center text-muted">Данные отсутствуют</td>
                </tr>
            }
        </tbody>
    </table>
</div>
