@model List<DigitalPortalAcademy.Models.User>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">

    <h2 class="mb-4">Список пользователей</h2>

    <!-- Фильтры -->
    <div class="filters mb-4">
        <div class="row g-3">
            <div class="col-md-3">
                <label for="roleSelect" class="form-label">Роль</label>
                <select class="form-select" id="roleSelect" onchange="window.location.href=this.value;">
                    <option value="users.html">Все</option>
                    <option value="">Преподаватели</option>
                    <option value="">Группы-студенты</option>
                    <option value="">Учебная часть</option>
                    <option value="">Педагоги-организаторы</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="departmentSelect" class="form-label">Отделение</label>
                <select class="form-select" id="departmentSelect"
                        onchange="window.location.href=this.value;">
                    <option value="">Все</option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="searchInput" class="form-label">Поиск по ФИО</label>
                <input type="text" class="form-control" placeholder="Введите ФИО" name="search"
                       id="searchInput">
            </div>
        </div>
    </div>

    <!-- Карточки пользователей -->
    @if (Model == null || Model.Count == 0)
    {
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col"><label class="form-label">К сожалению, ничего не найдено</label></div>
        </div>
    }
    else
    {
        <div class="row row-cols-1 row-cols-md-4 g-4">
            @foreach (var user in Model)
            {
                <div class="col">
                    <div class="card user-card">
                        @switch (user.RoleId)
                        {
                            case 2:
                                {
                                    var teacher = user.Teachers.FirstOrDefault(t => t.UserId == user.UserId);
                                    if (teacher != null)
                                    {
                                        string fullName = $"{teacher.LastName} {teacher.FirstName} {teacher.MiddleName}";
                                        <div class="card-header">@fullName</div>
                                        <div class="card-body">
                                            <p><strong>Роль:</strong>@user.Role.Name</p>
                                            <p><strong>Электронная почта:</strong>@user.Login</p>
                                        </div>
                                    }
                                    break;
                                }

                            case 1:
                                {
                                    var student = user.Students.FirstOrDefault(t => t.UserId == user.UserId);
                                    if (student != null)
                                    {
                                        string fullName = $"{student.LastName} {student.FirstName} {student.MiddleName}";
                                        <div class="card-header">@fullName</div>
                                        <div class="card-body">
                                            <p><strong>Роль:</strong>@user.Role.Name</p>
                                            <p><strong>Электронная почта:</strong>@user.Login</p>
                                        </div>
                                    }
                                    break;
                                }

                            case 3 or 4 or 5:
                                {
                                    var employee = user.Employees.FirstOrDefault(t => t.UserId == user?.UserId);
                                    if (employee != null)
                                    {
                                        string fullName = $"{employee.LastName} {employee.FirstName} {employee.MiddleName}";
                                        <div class="card-header">@fullName</div>
                                        <div class="card-body">
                                            <p><strong>Роль:</strong>@user.Role.Name</p>
                                            <p><strong>Электронная почта:</strong>@user.Login</p>
                                        </div>
                                    }
                                    break;
                                }
                        }
                        <div class="card-footer">
                            <a href="@Url.Action("Details", "Administrator", new { id = user.UserId })" class="btn btn-info">Посмотреть</a>
                            <a href="@Url.Action("Edit", "Administrator", new { id = user.UserId })" class="btn btn-warning">Редактировать</a>
                            <a href="@Url.Action("Delete", "Administrator", new { id = user.UserId })" class="btn btn-danger"
                               onclick="return confirm('Вы уверены, что хотите удалить пользователя?');">
                                Удалить
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
